:root {
    --primary-color: #1A412A;
    --secondary-color: #2F6B3D;
    --accent-color: #F6F8FF;
}


* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

/********* HEADER *********/

header {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color)
}

.header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    display: flex;
    align-items: center;

}



header img {
    width: 50px;
    height: auto;
}

.logo span {
    font-size: 1.3rem;
    font-weight: bold;
    margin-left: 8px;
    color: var(--accent-color);
}


/********* HAMBURGER *********/

.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--accent-color);


}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";

}

/********* NAVIGATION *********/

.navigation {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;



}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;


}

.navigation li {
    margin: 0.5rem 0;
    padding: 10px;
    font-size: large;
    border-bottom: solid 1px var(--accent-color);

}

.navigation a {
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: var(--accent-color);

}

.navigation.show {
    display: block;
}

.navigation a.current,
.navigation a:hover {
    text-decoration: underline;
}

/********* Footer *********/

footer {
    background-color: var(--primary-color);
    padding: 1rem 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.social {
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    align-items: center;
    gap: 5px;

}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: #ccc solid 1px;
    border-radius: 50%;


}

.social img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    display: block;
}

.social a:hover {
    background-color: var(--secondary-color);
}

.contact,
.copyright,
.follow {
    text-align: center;
    color: var(--accent-color);

}



.copyright a {
    color: var(--accent-color);
}


/********* Main Content *********/


/** Hero **/
.hero img {
    width: 100%;
    height: auto;


}

.hero {
    position: relative;
    line-height: 0;

}

.hero-content {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    color: var(--accent-color);
    background-color: rgba(0, 0, 0, 0.3);

}

.hero-content h1 {
    margin: 0;
    line-height: 1.2;
}

.hero-content p {
    margin: 0;
    line-height: 1.3;
}

.hero-content a {
    margin-top: 0.5rem;
    text-decoration: none;
    background-color: var(--primary-color);
    padding: 15px;
    border-radius: 15px;
    color: var(--accent-color);


}

.hero-content a:hover {
    background-color: var(--secondary-color);
}

/** Something for Everyone **/

.everyone {
    text-align: center;
}

.everyone h2,
.everyone p {
    color: var(--primary-color);
}

#featured {
    min-height: 800px;
}

#featured div {
    margin: 1rem 8px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: var(--primary-color);
    text-align: left;
    color: var(--accent-color);
    overflow: hidden;

}

#featured img {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;

}

#featured h2,
#featured p,
#featured address {
    text-align: center;
    padding: 5px;
}





/** Larger CSS **/

@media only screen and (min-width: 38rem) {

    header,
    main,
    footer {
        max-width: 1500px;
        margin: 0 auto;
    }

    header {
        flex-direction: row;

    }

    .logo span {
        white-space: nowrap;



    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;

    }

    .navigation ul {
        display: flex;
        justify-content: flex-end;
    }

    .navigation li {
        border: none;
    }

    footer {
        flex-direction: row;
        justify-content: center;
        gap: 20rem;
    }



    /********* Main Content *********/

    .hero img {
        max-height: 600px;
        height: 100%;
        width: 100%;
        object-fit: cover;

    }

    .hero-content {
        justify-content: flex-start;
        padding-top: 4rem;
        gap: 1rem;
    }

    .hero-content a {
        padding: 20px;

    }

    #featured {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        min-height: 300px;
    }


}