/********* COLOR SCHEME/TYPOGRAPHY *********/

:root {
    --primary-color: ;
    --secondary-color: ;
    --background-color: ;
    --text-color: ;

}

* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

/********* HEADER CONTENT *********/


/********* HAMBURGER *********/


/********* NAVIGATION *********/



/********* FOOTER CONTENT *********/


/********* MAIN CONTENT *********/