:root {
    --primary-color: #50C878;
    --secondary-color: #FFFF8F;
    --background-color: #eee;
    --text-color: #023020;

}


h1 {
    text-align: center;
    color: var(--text-color);
}

#submission {
    text-align: center;
    font-size: larger;
    color: var(--text-color);

}