/* -------------- Color Scheme --------------*/
:root {
    --primary-color: #071D49;
    --secondary-color: #90ee90;
}

/***************** SITE WIDE *****************/
* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

h1 {
    margin-left: 10px;
    color: var(--primary-color);
}

/***************** HEADER *****************/
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.2rem;
    color: var(--primary-color);
}

/***************** HAMBURGER *****************/
.hamburger {
    background: none;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";

}

/***************** NAVIGATION *****************/
.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: var(--primary-color);
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

.navigation li.current {
    background-color: #eee;
}

.navigation a:hover {
    background-color: var(--secondary-color);
}

/***************** FOOTER *****************/
footer {
    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #ccc solid 1px;
    border-radius: 4px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #ddd;
}

footer p {
    color: var(--primary-color);
}

/***************** MAIN *****************/

.photo img {
    width: 100%;
    height: auto;
    padding: 0 50px 15px;

}

.content section h2 {
    text-align: center;
}

.about p {
    padding: 0 10px 10px;
    color: var(--primary-color);
}

.photo,
.certificate {
    margin-bottom: 20px;
}

.content h2 {
    background-color: var(--primary-color);
    color: white;
}

.content section {
    background-color: #eee;

}

.certificate {
    padding: 10px;

}

.certificate p {
    text-align: center;
    color: var(--primary-color);
}

.course-button {
    display: flex;
    justify-content: center;
    gap: 10px;


}

.course-button button {
    background-color: var(--secondary-color);
    padding: 5px 10px;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;

}

.course-button button:hover {
    background-color: #D2BD96;
}


.complete p {
    background-color: var(--secondary-color);
}

.incomplete p {
    background-color: #D2BD96;
}

.course-list p {
    justify-self: center;
    text-align: center;
    width: 75%;
    border-radius: 10px;
    padding: 10px;
    color: var(--primary-color);


}

.course-list {
    min-height: 100px;
}

#credits {
    min-height: 10px;
}